h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header_navigation {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.add_info ul {
  padding: 0;
  margin: 0;
}

.ul_menu a {
  margin: 0;
}

.add_info_li {
  margin: 0;
}

.ul_2 {
  padding: 0;
  margin: 0;
}

.icon_team_list {
  padding: 0;
  margin: 0;
}

.footer_div {
  margin: 0;
}

.dec ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .ul_menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .ul_menu {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1440px) {
  .ul_menu a {
    margin-right: 55px;
  }
}

@media screen and (min-width: 768px) {
  .menu a {
    color: #212121;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    margin-right: 57px;
  }
  .menu a:hover {
    color: #2196F3;
  }
}

.add_info {
  display: none;
}
@media screen and (min-width: 768px) {
  .add_info {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .add_info_li {
    margin-right: 17px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .add_info_li {
    margin-left: 150px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .add_info a {
    font-family: "Roboto";
    color: #757575;
    font-size: 14px;
    fill: #757575;
  }
  .add_info a:hover {
    color: #2196F3;
    fill: #2196F3;
  }
}

@media screen and (min-width: 1440px) {
  .add_info_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .add_info_position {
    margin-right: 215px;
  }
}

.li_navigation {
  margin-top: 16px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .li_navigation {
    margin-top: 30px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .li_navigation {
    margin-top: 24px;
    margin-left: 215px;
    margin-right: 100px;
  }
}

.header_navigation {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .studio {
    margin-right: 90px;
  }
}

.li_navigation_svg {
  height: 28px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .li_navigation_svg {
    display: none;
  }
}

.li_navigation_svg:nth-child(2) {
  margin-top: 22px;
}

.svg_navigation:active {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .container_ul {
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .container_ul {
    display: flex;
    justify-content: end;
  }
}

.web {
  color: #2196F3;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .web {
    margin: 0;
  }
}

.studio {
  color: #000000;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  margin-right: 284px;
}
@media screen and (min-width: 768px) {
  .studio {
    margin: 0;
  }
}

.advertising {
  display: none;
}

.advertising_mobile {
  height: 400px;
  width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero_mobile.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advertising_mobile {
    display: none;
  }
}

.advertising_tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .advertising_tablet {
    display: flex;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero_tablet.png);
  }
}
@media screen and (min-width: 1440px) {
  .advertising_tablet {
    display: none;
  }
}

.advertising_mobile h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.fishnet_mobile {
  border: 1px solid #2196F3;
  padding: 10px 24px 10px 24px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-family: "Roboto";
  margin-left: 53px;
}

.advertising_tablet h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 230px;
  margin-top: 128px;
  margin-bottom: 37px;
}

.fishnet_tablet {
  margin: 0;
  margin-left: 284px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 153px;
  padding: 10px 24px;
}

@media screen and (min-width: 1440px) {
  .advertising {
    height: 600px;
    width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advertising h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.fishnet {
  border: 1px solid #2196F3;
  padding: 10px 24px 10px 24px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  margin: 40px 200px 0 200px;
}

.page-header {
  height: 60px;
  border-bottom: 1px solid #ececee;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.ul_2_tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .ul_2_tablet {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    text-align: start;
  }
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .text {
    text-align: none;
    padding: 0;
    margin: 0;
    margin-top: 19px;
    width: 342px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    width: 270px;
  }
}

.svg_first {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 192px;
  margin-left: 15px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .svg_first {
    padding: 25px 144px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_first {
    padding: 25px 102px;
  }
}

.svg_second {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 192px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_second {
    padding: 25px 144px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_second {
    padding: 25px 101px;
  }
}

.svg_third {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 33px 190px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_third {
    padding: 33px 142px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_third {
    padding: 25px 100px;
  }
}

.svg_fourth {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 190px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_fourth {
    padding: 33px 142px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_fourth {
    padding: 25px 100px;
  }
}

.what_we_do {
  display: block;
}
@media screen and (min-width: 768px) {
  .what_we_do {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .what_we_do {
    display: block;
  }
}

.what_we_do_tablet {
  display: block;
}
@media screen and (min-width: 1440px) {
  .what_we_do_tablet {
    display: none;
  }
}

.info_tablet {
  width: 354px;
  margin-top: 60px;
}

.info_x_tablet {
  margin-right: 30px;
  margin-left: 15px;
}

.info_2_tablet {
  margin-top: 37px;
  margin-right: 30px;
  margin-left: 15px;
  margin-bottom: 42px;
}

.info_2 {
  margin-top: 37px;
}

@media screen and (min-width: 1440px) {
  .ul_2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1440px) {
  .info {
    width: 270px;
    margin: 94px 30px 0 0;
  }
}

.what_we_do_2 {
  display: none;
}
@media screen and (min-width: 1440px) {
  .what_we_do_2 {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .what_we_do_2_ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .what_we_do_2 h2 {
    text-align: center;
    margin-top: 94px;
    color: #212121;
    font-size: 36px;
    font-family: "Roboto";
  }
}

.image_first {
  margin-top: 50px;
  margin-right: 30px;
}

.icon {
  height: 2560px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .icon {
    height: 1285px;
  }
}
@media screen and (min-width: 1440px) {
  .icon {
    height: 670px;
  }
}

.icon img {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .icon img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1440px) {
  .icon img {
    width: 270px;
    height: 260px;
  }
}

.our_team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .our_team {
    margin-top: 45px;
  }
}

.pp {
  font-size: 1px;
  margin-top: 60px;
  color: #F5F4FA;
}

.icon .icon_li {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 450px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .icon .icon_li {
    width: 354px;
  }
}
@media screen and (min-width: 1440px) {
  .icon .icon_li {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .icon_team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .icon_team_list {
    display: flex;
    justify-content: center;
  }
}

.icon h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .icon h3 {
    margin-top: 34px;
  }
}

.icon p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .icon p {
    margin-bottom: 17px;
  }
}

.ul_svg {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.li_svg {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .li_svg {
    margin: 0;
  }
}

.li_svg:nth-child(1) {
  margin-left: 122px;
}
@media screen and (min-width: 768px) {
  .li_svg:nth-child(1) {
    margin: 0;
    margin-right: 10px;
    margin-left: 74px;
  }
}
@media screen and (min-width: 1440px) {
  .li_svg:nth-child(1) {
    margin: 0;
    margin-left: 32px;
    margin-bottom: 30px;
  }
}

.icon svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.ppp {
  margin-top: 0;
}
@media screen and (min-width: 1440px) {
  .ppp {
    margin-top: 94px;
  }
}

.clients {
  display: none;
}
@media screen and (min-width: 768px) {
  .clients {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .clients_mobile {
    display: none;
  }
}

.clients_mobile h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.clients_ul_mobile {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.clients_li_mobile {
  margin-right: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.clients_mobile svg {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}
.clients_mobile svg:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.svg_I {
  padding: 20px 79px 21px 78px;
}

.svg_II {
  padding: 20px 80px;
}

.svg_III {
  padding: 24px 80px 24px 80px;
}

.svg_IV {
  padding: 24px 61px;
}

.svg_V {
  padding: 25px 71px 21px 71px;
}

.svg_VI {
  padding: 24px 56px 24px 56px;
}

.clients h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.clients_ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clients svg {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}
.clients svg:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.clients_li {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

footer {
  height: 603px;
  width: 100%;
  background-color: #2F303A;
}

.footer_ul {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer_ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer_ul {
    display: flex;
    justify-content: start;
  }
}

.web_footer {
  color: #2196F3;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
}

.studio_footer {
  color: #000000;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
}

.logo_footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .logo_footer {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

.pp {
  font-size: 1px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .dec {
    margin-left: 89px;
    width: 204px;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .dec {
    margin: 0;
    margin-left: 215px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .join {
    margin-right: 89px;
  }
}

.adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-left: 124px;
}
@media screen and (min-width: 768px) {
  .adress {
    margin: 0;
    font-size: 13px;
  }
}

.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 167px;
}
@media screen and (min-width: 768px) {
  .information {
    margin: 0;
    font-size: 13px;
  }
}

.join h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .join h3 {
    margin-top: 65px;
  }
}

.footer_list_icon {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.join svg {
  fill: #FFFFFF;
}

.svg_li_2 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .mailing {
    display: none;
  }
}

.mailing h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 60px;
}

.e-mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  width: 350px;
  height: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  width: 169px;
  height: 50px;
  padding-left: 31px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.subscribe svg {
  margin-left: 12px;
}

.mailing_ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .mailing_ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (min-width: 768px) {
  .the_end {
    width: 768px;
    width: 100%;
    height: 483px;
  }
}
@media screen and (min-width: 1440px) {
  .the_end {
    height: 252px;
    width: 100%;
  }
}

.information_ul {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

body {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .add_info_portfolio a {
    margin: 0;
  }
}

.header {
  height: 60px;
  border-bottom: 1px solid #ececee;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.contanier_portfolio {
  display: none;
}

@media screen and (min-width: 768px) {
  .contanier_portfolio {
    height: 80px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.contanier_mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .contanier_mobile {
    display: none;
  }
}

.li_navigation_mobile {
  margin-top: 16px;
}

.web {
  color: #2196F3;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
}

.studio {
  color: #000000;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .menu_portfolio {
    margin-left: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .menu_portfolio {
    display: flex;
    align-content: center;
  }
}

.menu_portfolio ul {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
}

@media screen and (min-width: 768px) {
  .menu_portfolio .menu_a {
    margin: 0;
    margin-right: 57px;
  }
}

.menu_portfolio a {
  color: #212121;
  margin: 32px 55px 32px 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.menu_portfolio a:hover {
  color: #2196F3;
}

.li_navigation_portfolio {
  margin-top: 16px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .li_navigation_portfolio {
    margin-top: 30px;
  }
}

.li_navigation_svg {
  margin-top: 22px;
  margin-right: 23px;
}

.add_info_portfolio ul {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
}
@media screen and (min-width: 768px) {
  .add_info_portfolio ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .add_info_portfolio ul {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }
}

.add_info_portfolio a {
  font-family: "Roboto";
  color: #757575;
  margin: 0 50px 0 0;
  font-size: 14px;
  fill: #757575;
}
.add_info_portfolio a:hover {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 1440px) {
  .add_info_portfolio li {
    margin-right: 50px;
  }
}

.add_info_portfolio svg {
  margin-right: 10px;
}

@media screen and (min-width: 1440px) {
  .header_navigation .li_navigation_portfolio {
    margin-left: 150px;
  }
}/*# sourceMappingURL=main.css.map */