h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header_navigation {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.add_info ul {
  padding: 0;
  margin: 0;
}

.ul_menu a {
  margin: 0;
}

.add_info_li {
  margin: 0;
}

.ul_2 {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .ul_menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .ul_menu {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1440px) {
  .ul_menu a {
    margin-right: 55px;
  }
}

@media screen and (min-width: 768px) {
  .menu a {
    color: #212121;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    margin-right: 57px;
  }
  .menu a:hover {
    color: #2196F3;
  }
}

.add_info {
  display: none;
}
@media screen and (min-width: 768px) {
  .add_info {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .add_info_li {
    margin-right: 17px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .add_info_li {
    margin-left: 150px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .add_info a {
    font-family: "Roboto";
    color: #757575;
    font-size: 14px;
    fill: #757575;
  }
  .add_info a:hover {
    color: #2196F3;
    fill: #2196F3;
  }
}

@media screen and (min-width: 1440px) {
  .add_info_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .add_info_position {
    margin-right: 215px;
  }
}

.li_navigation {
  margin-top: 16px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .li_navigation {
    margin-top: 30px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .li_navigation {
    margin-top: 24px;
    margin-left: 215px;
    margin-right: 100px;
  }
}

.header_navigation {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .studio {
    margin-right: 90px;
  }
}

.li_navigation_svg {
  height: 28px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .li_navigation_svg {
    display: none;
  }
}

.li_navigation_svg:nth-child(2) {
  margin-top: 22px;
}

.svg_navigation:active {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .container_ul {
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .container_ul {
    display: flex;
    justify-content: end;
  }
}

.web {
  color: #2196F3;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .web {
    margin: 0;
  }
}

.studio {
  color: #000000;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  margin-right: 284px;
}
@media screen and (min-width: 768px) {
  .studio {
    margin: 0;
  }
}

.advertising {
  display: none;
}

.advertising_mobile {
  height: 400px;
  width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero_mobile.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advertising_mobile {
    display: none;
  }
}

.advertising_tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .advertising_tablet {
    display: flex;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero_tablet.png);
  }
}
@media screen and (min-width: 1440px) {
  .advertising_tablet {
    display: none;
  }
}

.advertising_mobile h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.fishnet_mobile {
  border: 1px solid #2196F3;
  padding: 10px 24px 10px 24px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-family: "Roboto";
  margin-left: 53px;
}

.advertising_tablet h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 230px;
  margin-top: 128px;
  margin-bottom: 37px;
}

.fishnet_tablet {
  margin: 0;
  margin-left: 284px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 153px;
  padding: 10px 24px;
}

@media screen and (min-width: 1440px) {
  .advertising {
    height: 600px;
    width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../foto_WebStudio/hero.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advertising h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.fishnet {
  border: 1px solid #2196F3;
  padding: 10px 24px 10px 24px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  margin: 40px 200px 0 200px;
}

.page-header {
  height: 60px;
  border-bottom: 1px solid #ececee;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.ul_2_tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .ul_2_tablet {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    text-align: start;
  }
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .text {
    text-align: none;
    padding: 0;
    margin: 0;
    margin-top: 19px;
    width: 342px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    width: 270px;
  }
}

.svg_first {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 192px;
  margin-left: 15px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .svg_first {
    padding: 25px 144px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_first {
    padding: 25px 102px;
  }
}

.svg_second {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 192px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_second {
    padding: 25px 144px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_second {
    padding: 25px 101px;
  }
}

.svg_third {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 33px 190px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_third {
    padding: 33px 142px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_third {
    padding: 25px 100px;
  }
}

.svg_fourth {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 70px;
  width: 70px;
  padding: 25px 190px;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .svg_fourth {
    padding: 33px 142px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .svg_fourth {
    padding: 25px 100px;
  }
}

.what_we_do {
  display: block;
}
@media screen and (min-width: 768px) {
  .what_we_do {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .what_we_do {
    display: block;
  }
}

.what_we_do_tablet {
  display: block;
}
@media screen and (min-width: 1440px) {
  .what_we_do_tablet {
    display: none;
  }
}

.info_tablet {
  width: 354px;
  margin-top: 60px;
}

.info_x_tablet {
  margin-right: 30px;
  margin-left: 15px;
}

.info_2_tablet {
  margin-top: 37px;
  margin-right: 30px;
  margin-left: 15px;
  margin-bottom: 42px;
}

.info_2 {
  margin-top: 37px;
}

@media screen and (min-width: 1440px) {
  .ul_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1440px) {
  .info {
    width: 270px;
    margin: 94px 30px 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .info_x {
    margin-left: 215px;
  }
}/*# sourceMappingURL=main.css.map */