h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

body {
    margin: 0;
    /* width: 1600px; */
}
/*=========================================================== header ==============================================================================*/
/* .header {
    height: 60px;
    border-bottom: 1px solid #ececee;
    margin-bottom: 60px;
}

.contanier_portfolio {
    display: none;
}

.contanier_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.li_navigation_mobile {
    margin-top: 16px;
}

.web {
    color: #2196F3;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}

.studio {
    color: #000000;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}

.menu_portfolio ul {
    display: flex;
    flex-direction: row;
    margin: 32px 0;
}

.menu_portfolio a {
    color: #212121;
    margin: 32px 55px 32px 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

.menu_portfolio a:hover {
    color: #2196F3;
}

.li_navigation_portfolio {
    margin-top: 16px;
    margin-left: 15px;
}

.li_navigation_svg {
    margin-top: 22px;
    margin-right: 23px;
}

.add_info_portfolio ul {
    display: flex;
    flex-direction: row;
    margin: 32px 0;
}

.add_info_portfolio a {
    font-family: 'Roboto';
    color: #757575;
    margin: 0 50px 0 0;
    font-size: 14px;
    fill: #757575;
}

.add_info_portfolio a:hover {
    color: #2196F3;
    fill: #2196F3;
}

.add_info_portfolio svg {
    margin-right: 10px;
} */
/*================================================================= main ==========================================================================*/
/* .images_tablet {
    display: none;
}

.navigation_site {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation_site li {
    margin-bottom: 15px;
}

.navigation_site_a {   
    background-color: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 23px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.navigation_site .nav_site_pos {
    margin-left: 15px;  
}

.navigation_site_a:hover {
    color:#FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .images {
    display: none;
}

.li_images_mobile {
    width: 450px;
    margin-left: 15px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.li_images_mobile_pos {
    margin-bottom: 60px;
}

.li_images_mobile h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 0 4px 24px;
}

.li_images_mobile p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0 0 20px 24px;
} */


/*=========================================================== footer ==============================================================================*/
/* footer {
    height: 603px;
    width: 480px;   
    background-color: #2F303A;
} */

.footer_ul_portfolio {
    margin: 0;
    padding: 0;
}

.web_footer {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
}
                                                        
.studio_footer {
    color: #000000;
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
}
                                                        
.logo_footer_portfolio {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
                                                        
.pp {
    font-size: 1px;
    margin: 0;
    padding: 0;
}
                                                        
.dec_portfolio ul {
    margin: 0;
    padding: 0;
}
.adress_portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 124px;
}
                                                        
.information_portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 167px;
}
                                                        
.join_portfolio h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
                                                        
.footer_list_icon_portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
                                                        
.join_portfolio svg {
    fill: #FFFFFF;
}
                                                        
.svg_li_2_portfolio {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                        
.mailing_portfolio h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
}
                                                        
.e-mail_portfolio {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    width: 450px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
}
                                                        
.subscribe_portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    width: 169px;
    height: 50px;
    padding-left: 31px;
    margin-left: 140px;
    margin-top: 20px;
}
                                                        
.subscribe_portfolio svg {
    margin-left: 12px;
}
                                                        
.mailing_ul_portfolio {
    padding: 0;
}

@media screen and (min-width:768px) {
/* ======================================================= header ========================================================================== */
    /* .contanier_mobile {
        display: none;
    }

    .header {
        height: 80px;
    }

    .contanier_portfolio {
        height: 80px;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .li_navigation_portfolio {
        margin-top: 30px;
    }

    .menu_portfolio {
        margin-left: 200px;
    }

    .menu_portfolio .menu_a {
        margin: 0;
        margin-right: 57px;
    }

    .add_info_portfolio .add_info_ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 22px;
    }

    .add_info_portfolio a {
        margin: 0;
    } */
/* ============================================================== main ====================================================================== */
    /* .navigation_site {
        display: flex;
        justify-content: center;
        height: 31px;
        margin-bottom: 30px;
    } */

    /* .images_mobile {
        display: none;
    }

    .images_tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .li_images_tablet {
        width: 354px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
    }

    .images_tablet h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #212121;
        margin: 20px 0 4px 24px;
    }

    .images_tablet p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 0 0 20px 24px;  
    }

    .li_images_tablet_pos {
        margin: 0 30px 30px 15px;
    } */
/* =================================================== footer ====================================================================================== */
    .footer_div_portfolio {
        margin: 0;
    }
    
    .the_end_portfolio {
        width: 100%;
        height: 483px;
    }

    .footer_ul_portfolio {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .logo_footer_portfolio {
        margin-top: 64px;
    }

    .join_portfolio {
        margin-right: 89px;
    }

    .join_portfolio h3 {
        margin-top: 65px;
    }

    .adress_portfolio, .information_portfolio {
        margin: 0;
        font-size: 13px;
    }

    .dec_portfolio {
        margin-left: 89px;
        width: 204px;
        text-align: center;
    }

    .mailing_portfolio h2 {
        margin-top: 66px;
    }

    .e-mail_portfolio {
        margin: 0;
        margin-top: 21px;
    }

    .subscribe_portfolio {
        margin: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .mailing_ul_portfolio {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (min-width:1440px) {
    /* .header_navigation .li_navigation_portfolio {
        margin-left: 150px;
    }

    .add_info_portfolio .add_info_ul {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }

    .add_info_portfolio li {
        margin-right: 50px;
    }

    .menu_portfolio {
        display: flex;
        align-content: center;
    } */
/* ================================================================= main ======================================================================== */
    /* .images_tablet {
        display: none;
    }

    .images {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .li_images {
        width: 370px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .li_images h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #212121;
        margin: 20px 0 4px 24px;
    }

    .li_images p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 0 0 20px 24px;
    }

    .li_images_position {
        margin-bottom: 94px;
    } */
/* ===================================================== footer ================================================================================ */
    .the_end_portfolio {
        height: 252px;
    }

    .logo_footer_portfolio {
        margin: 0;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    
    .mailing_portfolio {
        display: none;
    }

    .join_portfolio {
        display: none;
    }
}