.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p 
    ul {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;

    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu {
        display: none;
    }

    .add_info {
        display: none;
    }

    .page-header {
        height: 60px;
        border-bottom: 1px solid #ececee;
    }

    .li_navigation {
        margin-top: 16px;
        margin-left: 15px;
    }

    .web {
        color: #2196F3;
        font-size: 24px;
        font-family: 'Raleway';
        font-weight: 700;
        margin-left: 15px;
    }
    
    .studio {
        color: #000000;
        font-size: 24px;
        font-family: 'Raleway';
        font-weight: 700;
        margin-right: 284px;
    }

    .header_navigation {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    .li_navigation_svg {
        height: 28px;
        margin-top: 16px;
    }

    .li_navigation_svg:nth-child(2) {
        margin-top: 22px;
    }

    .svg_navigation:active {
        fill: #2196F3;
    }

    .advertising {
        display: none;
    }

    .advertising_mobile {
        height: 400px;
        width: 480px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(./foto_WebStudio/hero_mobile.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .advertising_tablet {
        display: none;
    }

    .advertising_mobile h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .fishnet_mobile {
        border: 1px solid #2196F3;
        padding: 10px 24px 10px 24px;
        background-color: #2196F3;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 0.06em;
        font-size: 16px;
        font-family: 'Roboto';
        margin-left: 53px;
    }

    .ul_2 {
        padding: 0;
        margin: 0;
    }

    .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        margin-top: 30px;
    }

    .text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }

    /* .text_position {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column; 
    } */

    .svg_first {
        background-color: #F5F4FA;
        border-radius: 4px;
        height: 70px;
        width: 70px;
        padding: 25px 192px;
        margin-left: 15px;
        margin-top: 60px;
    }

    .svg_second {
        background-color: #F5F4FA;
        border-radius: 4px;
        height: 70px;
        width: 70px;
        padding: 25px 192px;
        margin-left: 15px;
        margin-top: 30px;
    }

    .svg_third {
        background-color: #F5F4FA;
        border-radius: 4px;
        height: 70px;
        width: 70px;
        padding: 33px 190px;
        margin-left: 15px;
        margin-top: 30px;
    }

    .svg_fourth {
        background-color: #F5F4FA;
        border-radius: 4px;
        height: 70px;
        width: 70px;
        padding: 25px 190px;
        margin-left: 15px;
        margin-top: 30px;
    }

    .what_we_do_2 {
        display: none;
    }

    .icon {
        height: 2721px;
        background-color: #F5F4FA;
    }

    .icon img {
        width: 450px;
        height: 460px;
    }

    .our_team {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 60px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .pp {
        font-size: 1px;
        margin-top: 60px;
    }

    .icon .icon_li {  
        background: #FFFFFF;    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;
        width: 450px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .icon_team_list {
        padding: 0;
        margin: 0;
    }

    .icon h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }

    .icon p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .ul_svg {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .li_svg {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 24px;
    }

    .li_svg:nth-child(1) {
        margin-left: 122px;
    }

    .icon svg {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
    }

    .clients {
        display: none;
    }

    .clients_mobile h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }

    .clients_ul_mobile {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .clients_li_mobile {
        margin-right: 30px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .clients_mobile svg {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
    }

    .clients_mobile svg:hover {
        fill: #2196F3;
        border: 1px solid #2196F3;
    }

    .svg_I {
        padding: 20px 79px 21px 78px;
    }

    .svg_II {
            padding: 20px 80px;
    }

    .svg_III {
        padding: 24px 80px 24px 80px;
    }

    .svg_IV {
        padding: 24px 61px;
    }

    .svg_V {
        padding: 25px 71px 21px 71px;
    }

    .svg_VI {
        padding: 24px 56px 24px 56px;
    }

    footer {
        height: 603px;
        width: 480px;   
        background-color: #2F303A;
    }

    .footer_ul {
        margin: 0;
        padding: 0;
    }

    .web_footer {
        color: #2196F3;
        font-size: 24px;
        font-family: 'Raleway';
        font-weight: 700;
    }

    .studio_footer {
        color: #000000;
        font-size: 24px;
        font-family: 'Raleway';
        font-weight: 700;
    }

    .logo_footer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .pp {
        font-size: 1px;
        margin: 0;
        padding: 0;
    }

    .dec ul {
        margin: 0;
        padding: 0;
        /* display: flex;
        justify-content: center; */
    }

    .adress {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        /* display: flex;
        justify-content: center; */
        margin-left: 124px;
    }

    .information {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        /* display: flex;
        justify-content: center; */
        margin-left: 167px;
    }

    .join h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        /* margin-left: 167px; */
        margin-bottom: 20px;
    }

    .footer_list_icon {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .join svg {
        fill: #FFFFFF;
    }

    .svg_li_2 {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mailing h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 60px;
    }

    .e-mail {
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        width: 450px;
        height: 50px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .subscribe {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: #2196F3;
        border-radius: 4px;
        width: 169px;
        height: 50px;
        padding-left: 31px;
        margin-left: 140px;
        margin-top: 20px;
    }

    .subscribe svg {
        margin-left: 12px;
    }

    .mailing_ul {
        padding: 0;
    }


@media screen and (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p 
    ul {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;

    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .page-header {
        height: 80px;
        border-bottom: 1px solid #ececee;
    }

    .web {
        margin: 0;
    }

    .studio {
        margin: 0;
    }

    .li_navigation {
        margin-top: 30px;
        margin-left: 15px;  
    }

    .li_navigation_svg {
        display: none;
    }

    .studio {
        margin-right: 90px;
    }

    .container_ul {
        padding: 0;
        margin: 0;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 80px; */
    }

    .ul_menu {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .menu a {
        color: #212121;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        margin-right: 57px;
    }
    
    .menu a:hover {
        color: #2196F3;
    }

    .add_info {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .add_info ul {
        padding: 0;
        margin: 0;
    }

    .add_info_li{
        margin-right: 17px;
        margin-bottom: 12px;
    }

    .add_info a {
        font-family: 'Roboto';
        color: #757575;
        font-size: 14px;
        fill: #757575;
    }
    
    .add_info a:hover {
        color: #2196F3;
        fill: #2196F3;
    }
                                                                /* main */
    .advertising_mobile {
        display: none;
    }

    .advertising {
        display: none;
    }

    .advertising_tablet {
        display: flex;
        height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(./foto_WebStudio/hero_tablet.png);
    }

    .advertising_tablet h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 230px;
        margin-top: 128px;
        margin-bottom: 37px;
    }

    .fishnet_tablet {
        margin: 0;
        margin-left: 284px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        width: 153px;
        padding: 10px 24px;
    }

    .what_we_do {
        display: none;
    }

    .ul_2_tablet {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .info_tablet {
        width: 354px;
        margin-top: 60px;
    }

    .info_x_tablet {
        margin-right: 30px;
        margin-left: 15px;
    }

    .info_2_tablet {
        margin-top: 37px;
        margin-right: 30px;
        margin-left: 15px;
        margin-bottom: 42px;
    }

    .info_2 {
        margin-top: 37px;
    }

    .svg_first {
        padding: 25px 144px;
        margin: 0;
    }

    .svg_second {
        padding: 25px 144px;
        margin: 0;
    }

    .svg_third {
        padding: 33px 142px;
        margin: 0;
    }

    .svg_fourth {
        padding: 33px 142px;
        margin: 0;
    }

    .title {
        margin-top: 31px;
    }

    .text {
        text-align: none;
        padding: 0;
        margin: 0;
        margin-top: 19px;
        width: 342px;
    }

    /* .ul_2 {
        display: flex;
        flex-flow: row wrap;
        margin-top: 60px;
    }

    .info {
        width: 354px;
        margin-right: 30px;
        margin-left: 15px;
        margin-bottom: 37px;
    }

    .svg_first {
        padding: 25px 144px;
        margin: 0;
    }

    .svg_second {
        padding: 25px 144px;
        margin: 0;
    }

    .svg_third {
        padding: 33px 142px;
        margin: 0;
    }

    .svg_fourth {
        padding: 33px 142px;
        margin: 0;
    }

    .title {
        margin-top: 31px;
    }

    .text {
        text-align: none;
        padding: 0;
        margin: 0;
        margin-top: 19px;
        width: 342px;
    } */

    .our_team {
        margin-top: 45px;
    }

    .ppp {
        margin-top: 0;
    }

    .icon_team_list {
        display: flex;
        flex-wrap: wrap;
    }

    .pp {
        color: #F5F4FA;
    }

    .icon {
        height: 1285px;
    }

    .icon_li h3 {
        margin-top: 34px;
    }

    .icon_li p {
        margin-top: 14px;
        margin-bottom: 17px;
    }

    .icon img {
        width: 354px;
        height: 374px;
    }

    .icon .icon_li {
        width: 354px;
    }

    .li_svg:nth-child(1) {
        margin: 0;
        margin-right: 10px;
        margin-left: 74px;
    }

    .clients_mobile {
        display: none;
    }

    .clients {
        display: block;
    }

    .clients h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }

    .clients_ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .clients .clients_li_position {
        margin-left: 15px;
    }

    .clients_li {
        margin: 0;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .clients_position_desktop {
        margin: 0;
    }

    .clients svg {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
    }

    .clients svg:hover {
        fill: #2196F3;
        border: 1px solid #2196F3;
    }

    .svg_I {
        padding: 20px 90px 23px 85px;
    }

    .svg_II {
        padding: 22px 91px;
    }

    .svg_III {
        padding: 24px 87px 23px 87px;
    }

    .svg_IV {
        padding: 24px 70px;
    }

    .svg_V {
        padding: 22px 80px 21px 80px;
    }

    .svg_VI {
        padding: 24px 65px 24px 65px;
    }

    .the_end {
        width: 768px;
    }

    .footer_div {
        margin: 0;
    }
    
    .the_end {
        height: 483px;
    }

    .footer_ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .logo_footer {
        margin: 64px;
    }

    .join {
        margin-right: 89px;
    }

    .join h3 {
        margin-top: 65px;
    }

    .adress, .information {
        margin: 0;
        font-size: 13px;
    }

    .dec {
        margin-left: 89px;
        width: 204px;
        text-align: center;
    }

    .mailing h2 {
        margin-top: 66px;
    }

    .e-mail {
        margin: 0;
        margin-top: 21px;
    }

    .subscribe {
        margin: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .mailing_ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }  
}



@media screen and (min-width: 1440px) {
    .li_navigation {
        margin-top: 24px;
        margin-left: 215px;
    }

    .add_info_ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ul_menu {
        margin-left: 93px;
    }

    .ul_menu a {
        margin: 0;
    }
    
    .ul_menu a {
        margin-right: 55px;
    }
    
    .add_info_li {
        margin: 0;
    }

    .add_info_li {
        margin-left: 309px;
        margin-right: 30px;
    }

    .add_info_position {
        margin-right: 215px;
    }

    .advertising_tablet {
        display: none;
    }

    .advertising {
        height: 600px;
        width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(./foto_WebStudio/hero.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .advertising h1 {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        color: #FFFFFF;
        line-height: 60px;
        text-align: center;
        margin-bottom: 40px;
    }

    .fishnet {
        border: 1px solid #2196F3;
        padding: 10px 24px 10px 24px;
        background-color: #2196F3;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Roboto';
        margin:40px 200px 0 200px;
    }

    .ul_2 {
        display: flex;
        flex-direction: row;
        margin-top: 94px;
    }

    .info {
        width: 270px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .info_x {
        margin-left: 215px;
    }

    .title {
        text-align: start;
    }

    .text {
        width: 270px;
    }

    .svg_first {
        padding: 25px 102px;
    }

    .svg_second {
        padding: 25px 101px;
    }

    .svg_third {
        padding: 25px 100px;
    }

    .svg_fourth {
        padding: 25px 100px;
    }

    .what_we_do_2 {
        display: block;
    }
    .what_we_do_2 h2 {
        text-align: center;
        margin-top: 94px;
        color: #212121;
        font-size: 36px;
        font-family: 'Roboto';
    }
    
    .image_first {
        width: 370px;
        margin: 50px 30px 0px 30px;
    }
    
    .image_first_o {
        margin-left: 210px;
    }
    
    .image_first_f {
        margin-right: 210px;
    }

    .ppp {
        margin-top: 94px;
    }

    .icon {
        height: 670px;
    }

    .icon img {
        width: 270px;
        height: 260px;
    }

    .li_svg:nth-child(1) {
        margin: 0;
        margin-left: 32px;
        margin-bottom: 30px;
    }

    .li_svg {
        margin: 0;
    }

    .icon .icon_li {
        width: 270px;
    }
    
    .icon .li_first_o {
        margin-left: 215px;
    }

    .clients_li {
        margin: 0;
        margin-right: 30px;
    }

    .clients_ul {
        display: flex;
        flex-direction: row;
    }

    .clients_position_desktop {
        margin-left: 190px;
    }

    .svg_I {
        padding: 20px 63px;
    }

    .svg_II {
        padding: 19px 66px;
    }

    .svg_III {
        padding: 24px 64px;
    }

    .svg_IV {
        padding: 24px 45px;
    }

    .svg_V {
        padding: 22px 55px;
    }

    .svg_VI {
        padding: 22px 40px;
    }

    .mailing {
        display: none;
    }

    .the_end {
        height: 252px;
    }

    .footer_ul {
        display: flex;
        justify-content: start;
    }

    .dec {
        margin: 0;
        margin-left: 215px;
        margin-right: 70px;
    }

    .logo_footer {
        margin: 0;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    
    .information_ul {
        text-align: left;
    }
}